Source: sipclients
Section: python
Priority: optional
Maintainer: Adrian Georgescu <ag@ag-projects.com>
Uploaders: Tijmen de Mes <tijmen@ag-projects.com>
Build-Depends: debhelper (>= 11), dh-python, python3
Standards-Version: 4.5.0
Homepage: http://sipsimpleclient.org

Package: sipclients3
Section: net
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
         libavahi-compat-libdnssd1,
         python3-application,
         python3-eventlib,
         python3-requests,
         python3-lxml,
         python3-sipsimple (>= 5.2.0),
         python3-twisted,
         python3-zope.interface
Description: SIP SIMPLE Command Line Clients
 This package contains Command Line Clients for testing SIP SIMPLE client
 SDK from http://sipsimpleclient.org. They demonstrate the SDK capabilities
 and can be used as examples or for testing purposes.

